<style>
.chat-output {
    width: 500px;
    height: 300px;
    border: 1px inset;
    overflow: hidden;
    overflow-y: scroll;
}
.chat-input {
    width: 500px;
    border: 1px inset;
}
</style>
<div class="chat-output"></div>
<input type="text" class="chat-input" value="" />
